*.swp
**/__pycache__/**
**/.ipynb_checkpoints/**
.DS_Store
.idea/*
.vscode/*
llava/
_vis_cached/
_auto_*
log/
tb*/
img*/
local_output*
*.pth
*.pth.tar
*.ckpt
*.log
*.ipynb
*.pt
unet/
AutoHDR-Qwen2-7B/
*.ttf
ckpt/
weights/
build/
dist/
*.spec
*.sh
det2base64.py
det_model_template.py
det_model.py
gratest.py
reg_model_template.py
reg_model.py
reg2base64.py
test_det.py
demo_flask_utils/static/outputs/*